<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #drawer class="sidebar" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="toolbar">Menu</mat-toolbar>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a class="sidebar-links" mat-list-item routerLinkActive="active" routerLink="/product">Product</a>
        <a class="sidebar-links" mat-list-item routerLinkActive="active" routerLink="/campaign">Campaign</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="main-bar">
            <h1>Product Management</h1>
        </div>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <div class="budget">Company budget:<span class="budget-value">{{fund}}$</span></div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
