:root {
  font-size: 16px;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}
html,
body {
  min-height: 100%;
}
body {
  margin: 0;
    background-color: #ffffff;
}
.container {
  padding: 16px;
  background-color: #f5f5f5;
}

.filter .mat-mdc-text-field-wrapper{
    background-color: #ffffff;
}
.no-data-information{
    .mat-cell{
        padding: 16px;
    }
}
.pagination{
    padding: 16px 0;
}
.back-button{
  margin-bottom: 16px;
}